html {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 100px;
}

#container {
  width: 100%;
  position: absolute;
  top: 30%;
}

header h1 {
  text-align: center;
}

#parse {
  width: 66%;
  margin: auto;
}
#parse input[type=text] {
  width: 79%;
}
#parse input[type=submit] {
  width: 19%;
}

h2 {
  text-transform:capitalize;
}

#info_container {
  margin: auto;
  width: 90%;
}

#video_info h3 {
  display: inline;
  text-align: center;
  text-transform:capitalize;
}

.dl_options {
  width: 50%;
  float: left;
  padding: 5px;
}

.dl_options label,p {
  font-family: monospace;
  font-size: 125%;
}

.dl_options label {
  width: 100%;
  float: left;
  padding: 2px;
}

.dl_options label:nth-child(even) {
  background-color: #FDD;
}

.dl_options label:nth-child(odd) {
  background-color: #FEE;
}

.dl_options input {
  margin: 3px;
}

#download {
  width: 100%;dd
  text-align: center;
}

#download button {
  width: 100%
}

#download progress {
	width 100%;
}
